#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
F1Speed/obj/x86/Debug/f1Speed.csproj.FileListAbsolute.txt
F1Speed.Tests/obj/Debug/F1Speed.Tests.csproj.FileListAbsolute.txt
F1Speed.Core/obj/Debug/F1Speed.Core.csproj.FileListAbsolute.txt
packages/
F1Speed/obj/*
