*, html, body {
    background-color: #000000;
    color: #FFFFFF;
}

header {
    padding: 20px 0;
}

.neutral {
    color: white;
}
.positive {
    color: green;
}
.negative {
    color: red;
}

h4 { 
    color: #cccccc;
    font-weight: normal;
    font-size: 15px;
}

.numeric-delta {
    font-size: 125px;
    line-height: 130px;    
}

.circuitDetails {
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
}

.wheelspincontainer {
    position: relative;
    height: 60px;
    width: 70px;
}
.wheelspin {
    background-color: yellow;
    position: absolute;
    bottom: 0;    
    height: 75px;
    width: 30px;
}

.wheelspin.left { left: 0; }
.wheelspin.right { right: 0; }

.pedalcontainer {
    float: left;    
    position: relative;
    height: 130px;
    width: 50px;
}

.pedal {
    position: absolute;
    bottom: 0;
    width: 35px;
    height: 75px;
    left: 0;
}

.pedal.brake { background-color: red }
.pedal.throttle { background-color: green }

.timebar {
    height: 40px;    
}

.time-delta {
    width:100%; 
    text-align: center; 
    margin-top:10px;
    font-size: 22px;
}

.timebar.positive { background-color: green; }

.timebar.negative { background-color: red; }

#time-delta { display: none; }

tr.tabletimebar td {
    height: 40px;
    margin: 0;
    padding: 0;
}

.fastest label { color: green; }
.slower label { color: red; }

@media (max-width: 480px) {
    #components { position: relative; }
    body { padding: 0 5px; }
    .circuitDetails, h4 { font-size: 12px;line-height: 15px;}
    .numeric-delta {
        font-size: 40px;
        line-height: 45px;    
    }
    .row-fluid [class*="span"] { min-height: 10px; }
    .row-fluid [class*="span2"] { float: left; width: 125px;  }
    header { padding: 5px 0; }
    h4 { margin: 5px 0; }
    #speed-delta, #time-delta { width: 130px; } 
    #time-delta { display: block; }   
    #wheelspincontainer-parent { position: absolute;top: 0;right: 110px;}
    #pedalcontainer-parent { position: absolute;top: 0;right: 0px;}
}

@media (max-width: 800px) {
    .wheelspincontainer { width: 60px; }
    .wheelspin { width: 25px; }
    .pedalcontainer { width: 40px; }
    .pedal { width: 30px; }
}
