<?xml version="1.0" encoding="utf-8"?>
<packages>  
  <package id="jQuery" version="1.8.3" targetFramework="net40-Client" />
  <package id="knockoutjs" version="2.2.0" targetFramework="net40-Client" />  
  <package id="log4net" version="2.0.0" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40-Client" />
  <package id="Nancy" version="0.13.0" targetFramework="net40-Client" />
  <package id="Nancy.Hosting.Self" version="0.13.0" targetFramework="net40-Client" />  
  <package id="Twitter.Bootstrap" version="2.2.1" targetFramework="net40-Client" />
</packages>